.header h1{
  font-family: 'Great Vibes', cursive;
  font-size: 6em;
  color: aliceblue;
}
.header h4{
  color: white;
  font-size:2em
}

.header{
  background: black;
  display: flex;
  justify-content: center;

}

.name{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: 8em;
}

video{
  height: 30em;
  width: -webkit-fill-available;
  object-fit: cover;
}


.ytvideo{
  margin-top: 5em;
}

@media screen and (max-width: 780px) {
.header{
  font-size:7px
}
}